<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="BooksMahalConnectionString" connectionString="server=127.0.0.1;port=3306;User ID=webuser;Password=webpassword;Database=booksmahal_db;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <trust level="Full"/>
    <compilation debug="true"/>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.6.1"/>
    <machineKey validationKey="CE449605CF7517024D7991B97082EA98D189D07C7B63E439586CF08CC665474F62430E05BCEA137196B59FD0FD61723F226E5FC695C9A54DD800ED0105B3343F" decryptionKey="DF7D406B26F9E34B4BCF8D35CFE6A1F89E7F7193DD84015B"/>
    <urlMappings enabled="true">
      <add url="~/About" mappedUrl="About.aspx"/>
      <add url="~/bksmhl-16-01" mappedUrl="bksmhl1601.aspx"/>
      <add url="~/Cart" mappedUrl="Cart.aspx"/>
      <add url="~/CheckOut" mappedUrl="CheckOut.aspx"/>
      <add url="~/Contact" mappedUrl="Contact.aspx"/>
      <add url="~/Cookie_Policy" mappedUrl="CookiePolicy.aspx"/>
      <add url="~/Home" mappedUrl="Default.aspx"/>
      <add url="~/Order_Placed_Successfully" mappedUrl="OrderPlaced.aspx"/>
      <add url="~/Page_Not_Found" mappedUrl="Page_Not_Found.aspx"/>
      <add url="~/Payment" mappedUrl="Payment.aspx"/>
      <add url="~/Privacy_Policy" mappedUrl="PrivacyPolicy.aspx"/>
      <add url="~/Shop" mappedUrl="Shop.aspx"/>
      <add url="~/User_Zone" mappedUrl="SignUp.aspx"/>
      <add url="~/Single" mappedUrl="Single.aspx"/>
      <add url="~/Team" mappedUrl="Team.aspx"/>
      <add url="~/Track_Your_Order" mappedUrl="TrackOrder.aspx"/>
      <add url="~/SignOut" mappedUrl="SignOut.aspx"/>
    
      <add url="~/Administrator_Admin_Manager" mappedUrl="Admin_Block/AdminManager.aspx"/>
      <add url="~/Administrator_Cart_Manager" mappedUrl="Admin_Block/CartManager.aspx"/>
      <add url="~/Administrator_Customer_Manager" mappedUrl="Admin_Block/CustomerManager.aspx"/>
      <add url="~/Administrator_Customer_Details_Viewer" mappedUrl="Admin_Block/CustomerDetailsViewer.aspx"/>
      <add url="~/Administrator_Home" mappedUrl="Admin_Block/Default.aspx"/>
      <add url="~/Administrator_Growth_Manager" mappedUrl="Admin_Block/GrowthManager.aspx"/>
      <add url="~/Invoice" mappedUrl="Admin_Block/Invoice.aspx"/>
      <add url="~/Administrator_Logout" mappedUrl="Admin_Block/Logout.aspx"/>
      <add url="~/Administrator_Newsletter_Mail" mappedUrl="Admin_Block/NewsletterMail.aspx"/>
      <add url="~/Administrator_Newsletter_Message" mappedUrl="Admin_Block/NewsletterMessage.aspx"/>
      <add url="~/Administrator_Order_Manager" mappedUrl="Admin_Block/OrderManager.aspx"/>
      <add url="~/Administrator_Order_Viewer" mappedUrl="Admin_Block/OrderViewer.aspx"/>
      <add url="~/Administrator_Password" mappedUrl="Admin_Block/Password.aspx"/>
      <add url="~/Administrator_PIN_Code_Manager" mappedUrl="Admin_Block/PINManager.aspx"/>
      <add url="~/Administrator_Product_Manager" mappedUrl="Admin_Block/ProductManager.aspx"/>
      <add url="~/Administrator_Product_Viewer" mappedUrl="Admin_Block/ProductViewer.aspx"/>
      <add url="~/Administrator_Review_Manager" mappedUrl="Admin_Block/ReviewManager.aspx"/>
      <add url="~/Administrator_Review_Viewer" mappedUrl="Admin_Block/ReviewViewer.aspx"/>
      <add url="~/samsberk_Gen" mappedUrl="Admin_Block/samsberk1003.aspx"/>
    
    </urlMappings>
  </system.web>
</configuration>